/* CSS Reset */
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*  */





/* Cosas del Fortnite */
.fortnite-box-epic {
    background-color: #CD59FE;
    background-image: radial-gradient(ellipse, #CD59FE,#4C197B);
    border: 5px, solid, #CD59FE;
}

.fortnite-box-rare {
    background-color: #00AFFF;
    background-image: radial-gradient(ellipse, #00AFFF,#00458A);
    border: 5px, solid, #00AFFF;
    
}

.fortnite-box-legendary {
    background-color: #DD6E0E;
    background-image: radial-gradient(ellipse, #FEE7CE,#DD6E0E);
    border: 5px, solid, #DD6E0E;
    
}

.fortnite-box-crew {
    background-color: #00AFFF;
    background-image: url(../images/backgrounds/fortnite-crew-background.png);
    border: 5px, solid, #76d4ff;
    
}