/* CSS Reset */
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-image: url(../images/backgrounds/og-shop.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.transparent-dark-blur {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
}

.card-transparent-dark-blur {
    background-color: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(50px);
}


/* Cosas del Fortnite */
.box-generic {
    background-color: #ffffff;
    background-image: radial-gradient(ellipse, #ffffff,#555555);
    border: 5px, solid, #ffffff;
    backdrop-filter: blur(30px);
}

.fortnite-box-epic {
    background-color: #CD59FE;
    background-image: radial-gradient(ellipse, #CD59FE,#4C197B);
    border: 5px, solid, #CD59FE;
}

.fortnite-box-rare {
    background-color: #00AFFF;
    background-image: radial-gradient(ellipse, #00AFFF,#00458A);
    border: 5px, solid, #00AFFF;
    
}

.fortnite-box-legendary {
    background-color: #DD6E0E;
    background-image: radial-gradient(ellipse, #FEE7CE,#DD6E0E);
    border: 5px, solid, #DD6E0E;
    
}

.fortnite-box-crew {
    background-color: #00AFFF;
    background-image: url(../images/backgrounds/fortnite-crew-background.png);
    background-position: center;
    background-size: cover;
    border: 5px, solid, #76d4ff;
    
}

.fortnite-box-icon-series {
    background-color: #5BF0F1;
    background-image: url(../images/backgrounds/icon-series-background.png);
    background-position: center;
    background-size: cover;
    border: 5px, solid, #5BF0F1;
    
}